name: "Deploy C贸digo Facilito"

on:
  push:
    branches: ["main"]

jobs:
  deploy-codigofacilito:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: echo "Hacemos pull del c贸digo"
      - run: echo "Corriendo migraciones"
      - run: echo "Generar Binario"
      - run: echo "Publicaci贸n de versi贸n"